body {
  padding-top: 90px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

img.user-image {
  width: 100px;
  height: 100px;
}
