html,
body {
  height: 100%;
  margin: 0;
  color: #f0f0f0;
  background-color: #191919;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  background-attachment: fixed;
}
body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
}

#container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.content-container {
  align-self: center;
  padding: 10px;
}

.img-tile {
  height: 500px;
  flex: 2;
}

.img-tile.header {
  background-image: url("../img/header-img.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.primary-block {
  height: 20%;
  background-color: #ffb75a;
  color: #191919;
  padding: 40px;
}

.img-tile.bio {
  background-image: url("../img/bio-img.jpg");
  background-repeat: none;
  background-size: cover;
  height: 500px;
}

li {
  list-style: none;
}

.secondary-block {
  text-align: center;
  background-color: #191919;
  color: #f7f7f7;
}

.secondary-block:a {
  color: #ffb75a;
}

.secondary-block a:visited {
  color: #ffd7a6;
}

.full-width {
  flex-basis: 100%;
}

.small {
  text-align: left;
  display: flex;
  width: 500px;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
