html,
body {
  height: 100%;
  margin: 0;
  color: #f0f0f0;
  background-color: #191919;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  background-attachment: fixed;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 440px;
  max-width: 1400px;
  margin: 10px auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 3px solid #f7f7f7;
}

.content-container {
  -ms-flex-item-align: center;
  align-self: center;
  padding: 10px;
}

.img-tile {
  height: 500px;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.img-tile.header {
  background-image: url("../img/header-img.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.primary-block {
  height: 20%;
  background-color: #ffb75a;
  color: #191919;
  padding: 40px;
}

.img-tile.bio {
  background-image: url("../img/bio-img.jpg");
  background-repeat: none;
  background-size: cover;
  height: 500px;
}

li {
  list-style: none;
}

.secondary-block {
  text-align: center;
  background-color: #191919;
  color: #f7f7f7;
}

.secondary-block:a {
  color: #ffb75a;
}

.secondary-block a:visited {
  color: #ffd7a6;
}

.full-width {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.small {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50px;
  flex: 1 0 50px;
}

@media (max-width: 1440px) {
  #container {
    border: none;
  }
}

@media (max-width: 880px) {
  .img-tile.bio {
    background-position: center;
  }
}

@media (max-width: 560px) {
  .small,
  .img-tile.header,
  .img-tile.bio {
    -ms-flex-preferred-size: 100vw;
    flex-basis: 100vw;
    height: 20vh;
  }

  ul {
    padding-left: 10px;
  }
}
