body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  margin: 0;
  line-height: 1.5;
}

#container {
  min-width: 360px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#results {
  color: #000;
  margin: 40px;
  word-wrap: break-word;
}

#search-area {
  min-height: 250px;
  background-image: url("https://raw.githubusercontent.com/sheriallis/fcc-projects/master/front-end-certification/wikipedia-viewer/assets/bg-small.jpg");
  background-position: left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  font-size: 1.5rem;
  padding: 8px;
  color: #797979;
  width: 250px;
  height: 30px;
  border: 4px solid #000;
  margin-top: 24px;
  margin-bottom: 8px;
}

#search-area > a {
  color: #fff;
  text-decoration: none;
  padding: 4px;
  border-bottom: 2px solid #fff;
}

#search-area > a:hover,
footer > a:hover {
  background: #222222;
  color: #fff;
}

.search-term {
  font-weight: bold;
}

footer > a {
  color: #8b84e1;
  text-decoration: none;
  border-bottom: 2px solid #8b84e1;
}

footer > a:visited {
  color: #bebebe;
  border-bottom: 2px solid #bebebe;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 0;
  margin-top: 40px;
}

p {
  font-size: 1rem;
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  #container {
    flex-direction: row;
  }

  #search-area {
    min-width: 500px;
    height: 100vh;
    background-image: url("../assets/bg-large.jpg");
    background-position: center;
  }

  .search-input {
    margin-top: 50%;
  }
}
