body {
  background-color: #28afb0;
  color: #f7f7f7;
  font-family: "Yantramanav", sans-serif;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  max-width: 90%;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  background: rgba(0, 0, 0, 0.2);
  color: #f7f7f7;
  padding: 8px 16px;
  border: 1px solid #f7f7f7;
  margin-right: 10px;
  margin-top: 40px;
}

button:hover {
  background: rgba(2, 2, 2, 0.6);
  transition: all 0.3s ease-in;
}
