body {
  background-color: #28afb0;
  background-image: url("../img/hypnotize-bg.png");
  background-repeat: repeat;
  color: #f7f7f7;
  font-family: "Yantramanav", sans-serif;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#container {
  max-width: 90%;
  min-width: 300px;
  margin: 0 auto;
  background-color: rgba(10, 66, 150, 0.8);
  border-radius: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

blockquote {
  transition: all 0.5s ease-in-out;
}

button {
  background: rgba(0, 0, 0, 0.4);
  color: #f7f7f7;
  padding: 8px 16px;
  border: 1px solid #f7f7f7;
  margin: 40px 0px 40px 10px;
  font-size: 1rem;
  border-radius: 5px;
}

button:hover {
  background: rgb(211, 4, 104);
  transition: all 0.4s ease-in-out;
}

a {
  color: #f7f7f7;
  text-decoration: none;
}

.tweet:hover {
  background: rgba(3, 165, 230, 0.6);
}

@media (max-width: 600px) {
  #container {
    width: 100%;
  }
  button {
    margin-top: 0 0 5px 10px;
    width: 30%;
  }
}
